@import "../../../style/variables.scss";

.codigo-barras-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 110px 105px 110px;
  font-size: 40px;
  height: 100vh;
  justify-content: space-between;
  position: relative;

  &__back-button {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 30px;
    background-color: transparent;

    ::ng-deep .mat-button-wrapper {
      display: flex;
      align-items: center;

    }

    ::ng-deep .mat-icon {
      font-size: 28px;
      margin-right: 10px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 230px;

    &__text {
      font-weight: 700;
      font-size: 56px;
      width: 100%;
      text-align: center;
    }

    &__description {
      margin-top: 20px;
      font-weight: 700;
      font-size: 36px;
      width: 100%;
      text-align: center;
    }

  }

  &__input-wrapper {
    width: 100%;
    position: relative;

    &__clear {
      position: absolute;
      top: -50px;
      right: 12px;
      font-size: 38px;
      font-weight: 700;
      color: $main-blue;
    }

    &__input::-webkit-scrollbar {
      display: none
    }

    &__input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      line-height: 62px;
      font-size: 30px;
      padding: 8px;
      resize: none;
      height: 125px;
      color: black;
      caret-color: black;
      font-family: "Futura";
      background-color: $gray;

      &:focus {
        outline: none;
      }
    }

    &__input-group {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      top: 12px;
      left: 9px;
      z-index: -1;

      span {
        background-color: transparent;
        font-size: 52px;
        font-family: "Futura";
        text-align: left;

        &:not(:last-child) {
          letter-spacing: -0.8px;
        }
      }
    }
  }

  &__keyboard {
    margin: 200px auto;

    &__button-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 400px;
      justify-content: space-around;
      margin: 0 auto;

      &__button {
        border: none;
        margin: 15px;
        border-radius: 5px;
        width: 100px;
        height: 100px;
        font-size: 40px;
        background-color: $main-blue;
        color: white;

        &:hover {
          background-color: #1a6e97;
        }

        &.delete-button {
          flex: 1;
          overflow: hidden;

          ::ng-deep .mat-button-wrapper {
            z-index: 2;
            display: block;
          }

          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: darken($main-blue, 0.15);
            transition: all 2s ease-in-out;
            z-index: -1;
            border-radius: 5px;
          }

          &:hover {
            ::ng-deep .mat-button-wrapper {
              transition: all .5s;
              transform: translate(20px, 0);
            }


            &::after {
              width: 100%;
            }

            &::before {
              left: 20px;
            }
          }

          &::before {
            font-family: "Material Icons";
            content: "\e92e";
            position: absolute;
            left: -75px;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }


  &__button {
    padding: 25px 140px;
    font-size: 60px;
    font-family: "Futura";
    background-color: #0487c9;
    font-weight: 700;
    color: #FFF;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
  }
}
