<div class="codigo-barras-wrapper">
  <div class="codigo-barras-wrapper__content">
    <div class="codigo-barras-wrapper__header">
      <div class="codigo-barras-wrapper__header__text">
        Digite o código de barras
      </div>
      <div class="codigo-barras-wrapper__header__description">
        Ou aponte o código de barras no leitor
      </div>
    </div>

    <form class="codigo-barras-wrapper__input-wrapper" [formGroup]="codigoForm">
      <!-- <span class="codigo-barras-wrapper__input-wrapper__clear" (click)="clearForm()">LIMPAR</span> -->
      <textarea #codbar class="codigo-barras-wrapper__input-wrapper__input" name="codigo-barras" id="codigo-barras"
        formControlName="mainInput" maxlength="50" autofocus tabindex="0"></textarea>
    </form>

    <div class="codigo-barras-wrapper__keyboard" *ngIf="tipo == '0'">
      <div class="codigo-barras-wrapper__keyboard__button-wrapper">
        <button *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]; let i=index"
          class="codigo-barras-wrapper__keyboard__button-wrapper__button" (click)="put(item)">
          {{item}}
        </button>
        <button class="codigo-barras-wrapper__keyboard__button-wrapper__button delete-button" mat-raised-button
          color="primary" (click)="deleteHandler()" appHoldable (holdTime)="holdHandler($event)">Apagar
        </button>
      </div>
    </div>
  </div>
  <div class="actions-wrapper">
    <button class="codigo-barras-wrapper__button" (click)="voltarPagina()">VOLTAR</button>
    <button class="codigo-barras-wrapper__button" (click)="redirect('conta-info/0')">PRÓXIMO</button>
  </div>
</div>
