<div class="pagamento-wrapper">
  <div class="pagamento-wrapper__content">
    <div class="pagamento-wrapper__text">
      <div class="pagamento-wrapper__text__title">Pagar com código de barras</div>
      <div class="pagamento-wrapper__text__info">Você pode parcelar em até 12x no cartão</div>
    </div>
    <div class="pagamento-wrapper__option" (click)="redirect('codigo-barras')">
      <div class="pagamento-wrapper__option__image">
        <img src="../../../assets/imgs/bar-code.svg" alt="">
      </div>
      <div class="pagamento-wrapper__option__info">
        <div class="pagamento-wrapper__option__info__text">Usar leitor de código de barras</div>
        <div class="pagamento-wrapper__option__info__arrow">
          <img src="../../../assets/imgs/arrow.svg" alt="">
        </div>
      </div>
    </div>
    <div class="pagamento-wrapper__option" (click)="redirect('codigo-barras')">
      <div class="pagamento-wrapper__option__image">
        <img src="../../../assets/imgs/type-numbers.svg" alt="">
      </div>
      <div class="pagamento-wrapper__option__info">
        <div class="pagamento-wrapper__option__info__text">Digitar código de barras manualmente</div>
        <div class="pagamento-wrapper__option__info__arrow">
          <img src="../../../assets/imgs/arrow.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <button class="pagamento-wrapper__button" (click)="back()">VOLTAR</button>
</div>
