@import "../../../style/variables.scss";

.pagamento-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 110px 235px 110px;
  height: 100vh;
  justify-content: space-between;

  &__back-button {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 30px;
    background-color: transparent;

    ::ng-deep .mat-button-wrapper {
      display: flex;
      align-items: center;

    }

    ::ng-deep .mat-icon {
      font-size: 28px;
      margin-right: 10px;
    }
  }

  &__text {
    margin-bottom: 120px;

    &__title {
      font-weight: 700;
      font-size: 46px;
      margin-bottom: 30px;
    }

    &__info {
      font-size: 40px;
    }
  }

  &__image {
    width: 480px;
    margin-bottom: 80px;

    img {
      width: 100%;
    }
  }

  &__option {
    display: flex;
    width: 100%;
    margin-bottom: 80px;

    &__info {
      margin-left: 40px;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      &__text {
        font-size: 40px;
      }

      &__arrow {
        width: 25px;
      }

    }

    &__image {
      width: 120px;
      height: 120px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      padding: 30px;
      border-radius: 50%;
      background-color: $main-blue;
    }
  }

  &__button {
    padding: 25px 140px;
    font-size: 60px;
    font-family: "Futura";
    background-color: #0487c9;
    font-weight: 700;
    color: #FFF;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
  }
}
