@import "../../../style/variables.scss";

.termos-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 154px 100px 154px;
  font-size: 40px;
  height: 100vh;

  &__header {
    display: flex;
    width: 100%;
    margin-bottom: 80px;

    &__text {
      font-weight: 700;
      font-size: 56px;
      width: 100%;
      text-align: center;
    }


  }

  &__info {
    width: 100%;
    margin-bottom: 230px;

    &__termos {
      margin-bottom: 80px;
      background-color: $gray;
      padding: 15px;
      border-radius: 40px;
      text-align: left;
      height: 400px;
      width: 100%;
      overflow-y: auto;
      position: relative;

      &.disabled {
        overflow: hidden;
      }


      &__checked {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 40px;
        background-color: rgba($gray, 0.1);
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: 0.2s;

        .checkmark__circle {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          stroke-width: 2;
          stroke-miterlimit: 10;
          stroke: #7ac142;
          fill: none;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
        }

        .checkmark {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          display: block;
          stroke-width: 2;
          stroke: #fff;
          stroke-miterlimit: 10;
          margin: 10% auto;
          box-shadow: inset 0px 0px 0px #7ac142;
          animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        }

        .checkmark__check {
          transform-origin: 50% 50%;
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
        }
      }
    }

    &__button-wrapper {
      &__button {
        padding: 10px 20px;
        font-size: 30px;
        font-family: 'Futura';
        background-color: $main-green;
        font-weight: 700;
        color: #FFF;
        border-radius: 50px;
        border: none;
        margin-left: 20px;
        text-transform: uppercase;

        &.warn {
          background-color: $warning-red;
        }
      }
    }


  }

  &__contact {
    &__title {
      font-weight: 700;
      font-size: 56px;
      width: 100%;
      text-align: center;
      margin-bottom: 145px;
    }

    &__input-wrapper {
      text-align: left;

      &__title {
        margin-bottom: 30px;
        font-weight: 700;
      }

      &__cel-input {
        margin-bottom: 25px;
        width: 100%;
        border-radius: 10px;
        font-size: 50px;
        border: none;
        background-color: $gray;
        padding: 15px;

      }

      &__cel-checkbox {
        font-weight: 700;
        font-size: 21px;
        position: relative;
        margin-left: 30px;

        input[type=checkbox] {
          width: 0em;
          font-size: inherit;
          margin: 0;
          transform: translateX(-9999px);
        }

        input[type=checkbox]+label:before {
          position: absolute;
          content: '';
          left: -1.3em;
          top: 0;
          width: 1em;
          height: 1em;
          margin: 0;
          border: none;
          border-radius: 10%;
          background-color: #bbbbbb;
        }

        input[type=checkbox]+label:after {
          position: absolute;
          content: '';
          left: -1.3em;
          top: 0;
          width: 1em;
          height: 1em;
          margin: 0;
          border: none;
          background-color: white;
          border-radius: 10%;
          transform: scale(0.9);
        }

        /*checked*/
        input[type=checkbox]:checked+label:before {
          position: absolute;
          content: '';
          left: -1.3em;
          top: 0;
          width: 1em;
          height: 1em;
          margin: 0;
          border: none;
          background-color: #3b88fd;
        }

        input[type=checkbox]:checked+label:after {
          position: absolute;
          content: "\2713";
          left: -1.3em;
          top: 0;
          width: 1em;
          height: 1em;
          margin: 0;
          border: none;
          background-color: #3b88fd;
          border-radius: 10%;
          color: white;
          text-align: justify;
          line-height: 1;
        }

        /*focused*/
        input[type=checkbox]:focus+label:before {
          border: 0.1em solid #8eb9fb;
          margin-top: -0.1em;
          margin-left: -0.1em;
          box-shadow: 0 0 0.2em #3b88fd;
        }

      }

    }
  }

  &__button {
    padding: 25px 140px;
    font-size: 60px;
    font-family: "Futura";
    background-color: #0487c9;
    font-weight: 700;
    color: #FFF;
    border-radius: 100px;
    border: none;
    margin-left: 20px;
    margin-top: auto;

  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
