<div class="termos-wrapper">
  <div class="termos-wrapper__header">
    <div class="termos-wrapper__header__text">
      Termos e condições de uso
    </div>
  </div>
  <div class="termos-wrapper__info">
    <div class="termos-wrapper__info__termos" [ngClass]="{'disabled' : termsAccepted}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <div class="termos-wrapper__info__termos__checked" *ngIf="termsAccepted">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
          <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
        </svg>
      </div>
    </div>
    <div class="termos-wrapper__info__button-wrapper">
      <button class="termos-wrapper__info__button-wrapper__button" (click)="toggleChecked()"
        [disabled]="termsAccepted">Li e concordo</button>
      <button class="termos-wrapper__info__button-wrapper__button warn" (click)="toggleChecked()">Recusar</button>
    </div>
  </div>
  <div class="termos-wrapper__contact">
    <div class="termos-wrapper__contact__title">Dados de contato</div>
    <div class="termos-wrapper__contact__input-wrapper">
      <div class="termos-wrapper__contact__input-wrapper__title">Número de celular</div>
      <input type="tel" [(ngModel)]="phoneNumber" (ngModelChange)="onInputChange($event)" maxlength="16" class="termos-wrapper__contact__input-wrapper__cel-input">
      <div class="termos-wrapper__contact__input-wrapper__cel-checkbox">
        <input type="checkbox" id="cel-checkbox" name="cel-checkbox">
        <label for="cel-checkbox">Autorizo a entrar em contato
          apenas em caso de falha do processamento
          por recusa do sistema bancário.
        </label>
      </div>
    </div>
  </div>

  <div class="actions-wrapper">
    <button class="termos-wrapper__button" (click)="voltarPagina()">VOLTAR</button>
    <button class="termos-wrapper__button" (click)="redirect('categorias')">PRÓXIMO</button>
  </div>
</div>
