<div class="categorias-wrapper">
  <button mat-button (click)="voltarPagina()" class="categorias-wrapper__back-button">
    <mat-icon>arrow_back</mat-icon>Voltar
  </button>
  <div class="categorias-wrapper__header">
    <div class="categorias-wrapper__header__title">
      Selecione uma categoria de pagamento
    </div>
  </div>
  <div class="categorias-wrapper__content" (click)="redirect('boleto')">
    <div class="categorias-wrapper__content__item">
      <div class="categorias-wrapper__content__item__image">
        <img src="../../../assets/imgs/bill.png" alt="">
      </div>
      <div class="categorias-wrapper__content__item__info">
        <div class="categorias-wrapper__content__item__info__title">Boletos Diversos</div>
        <div class="categorias-wrapper__content__item__info__text">Faturas de cartões, energia, água e mais.</div>
      </div>
    </div>
    <div class="categorias-wrapper__content__item">
      <div class="categorias-wrapper__content__item__image__max_height">
        <img src="../../../assets/imgs/phone-sync.png" alt="">
      </div>
      <div class="categorias-wrapper__content__item__info">
        <div class="categorias-wrapper__content__item__info__title">Recarga de Celular</div>
        <div class="categorias-wrapper__content__item__info__text">Operadoras: Tim, Oi, Vivo e Claro.</div>
      </div>
    </div>
    <div class="categorias-wrapper__content__item">
      <div class="categorias-wrapper__content__item__image">
        <img src="../../../assets/imgs/qr-code.png" alt="">
      </div>
      <div class="categorias-wrapper__content__item__info">
        <div class="categorias-wrapper__content__item__info__title">Protocolo</div>
        <div class="categorias-wrapper__content__item__info__text">Volte de onde você parou. </div>
      </div>
    </div>
  </div>
  <div class="categorias-wrapper__footer">
    <div class="categorias-wrapper__footer__image">
      <img src="../../../assets/imgs/mastercard.png" alt="">
    </div>
    <div class="categorias-wrapper__footer__image">
      <img src="../../../assets/imgs/Visa.png" alt="">
    </div>
    <div class="categorias-wrapper__footer__image">
      <img src="../../../assets/imgs/Elo.png" alt="">
    </div>
    <div class="categorias-wrapper__footer__image">
      <img src="../../../assets/imgs/HiperCard.png" alt="">
    </div>
  </div>
</div>
