// Colors

$main-blue: #0487c9;
$main-yellow: #daa532;
$main-green: #158150;
$warning-red: #C2272D;
$gray: #c0c0c0;

// Fonts
@font-face {
  font-family: "Futura";
  font-weight: 500;
  src: url('/assets/fonts/futura-bt.ttf');
}

@font-face {
  font-family: "Futura";
  font-weight: 700;
  src: url('/assets/fonts/futura-bt-bold.ttf');
}

@font-face {
  font-family: "Gineso Soft";
  font-weight: 700;
  src: url('/assets/fonts/GinesoSoft-NorExB.ttf');
}
