<div class="home-wrapper">
    <div class="home-wrapper__header">
        <span class="home-wrapper__header__text">
            ContaPaga
        </span>
    </div>

    <div class="home-wrapper__content">
        <div class="home-wrapper__content__info">
            <div class="home-wrapper__content__info__title">
                Parcele todas as suas contas em até 12x
            </div>
            <div class="home-wrapper__content__info__text">
                Imprevistos podem acontecer. Uma ótima solução 
                pode ser parcelar suas contas no cartão de crédito.
            </div>
        </div>
        <div class="home-wrapper__content__image-button">
            <img src="../../../assets/imgs/Tela 02.png" alt="" class="home-wrapper__content__image-button__image">
            <button class="home-wrapper__content__image-button__button" (click)="redirect('termos')">Começar</button>
        </div>
    </div>


    <div class="home-wrapper__footer">
        <div class="home-wrapper__footer__text">
            Aceitamos cartões de crédito
        </div>
        <div class="home-wrapper__footer__images">

            <span class="home-wrapper__footer__images__image">
                <img src="../../../assets/imgs/mastercard.png" alt="">
            </span>
            <span class="home-wrapper__footer__images__image">
                <img src="../../../assets/imgs/Visa.png" alt="">
            </span>
            <span class="home-wrapper__footer__images__image">
                <img src="../../../assets/imgs/Elo.png" alt="">
            </span>
            <span class="home-wrapper__footer__images__image">
                <img src="../../../assets/imgs/HiperCard.png" alt="">
            </span>
        </div>
        </div>
    </div>