@import "./style/variables.scss";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: "Futura";
  font-weight: 500;
  margin: 0;
  max-height: 1280px;
}

* {
  box-sizing: border-box;
}

#toast-container {

  font-size: 30px !important;
  width: 600px !important;
  .ngx-toastr {
      font-size: 30px !important;
      width: 600px !important;
  }
}