.cartao-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 240px 124px;

  &__back-button {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 30px;
    background-color: transparent;

    ::ng-deep .mat-button-wrapper {
      display: flex;
      align-items: center;

    }

    ::ng-deep .mat-icon {
      font-size: 28px;
      margin-right: 10px;
    }
  }

  &__text {
    margin-bottom: 120px;

    &__title {
      font-weight: 700;
      font-size: 60px;
      margin-bottom: 30px;
    }

    &__info {
      font-size: 40px;
    }
  }

  &__image {
    max-width: 832px;

    img {
      width: 100%;
    }
  }
}
